@import "../style/color.css";
.card {
    background-color: var(--color-card-background);
    color: var(--color-primary-text);
    border: 1px solid var(--color-border);
}

.header {
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
}
.headerName {
    display: flex;
    width: auto;
    margin-left: 20px;
    color: var(--color-primary-text);
}
.headerUserId {
    font-size: 15px;
    margin-left: 5px;
    color: var(--color-secondary-text);
    display: flex;
    flex-direction: column-reverse;
    width: auto;
}
.headerPostId {
    font-size: 7px;
    display: flex;
    color: var(--color-secondary-text);
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
}
.contents {
    display: block;
    flex-direction: row;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    font-size: 16px;
    white-space: normal;
    min-width: 0;
    overflow-wrap: break-word;
}
