@import "../style/color.css";

.root {
    display: flex;
}
.vertical {
    display: flex;
    flex-direction: row;
}
.horizontal {
    display: flex;
    flex-direction: row;
}

.sidebarPos {
    position: fixed;
    display: flex;
    justify-content: flex-start;
}
.sidebarStyle{
    padding-top:10px ;
    width: 30%;
    height: 100%;
    transform: translateX(-80%);
    transition: transform 0.3s ease;
    z-index: 1000;
    background-color: var(--color-primary-background);

}
.sidebarOpen{
    transform: translateX(-20%);
    transition: transform 0.3s ease;
}
.sidebarClose{
    transform: translateX(-37%);
    transition: transform 0.3s ease;
}

.sidebarHeader {
    display: flex;
    align-items: flex-end;
    font-size: 40px;
    height: 50px;
}

.card {
    margin: 12px 0;
    color: var(--color-primary-text);
    background-color: var(--color-secondary-background);
}

.container {
    display: flex;
    flex-direction: row;
}
