.root {
    --bs-body-bg: transparent;
    display: flex;
    flex-direction: row;
}

.root .vertical {
    background-color: var(--color-card-background);
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    border-color: var(--color-border);
    border-width: 2px;
    border-radius: 20px;
    border-style: solid;
    font-size: large;
    display: flex;
}

.root .horizontal {
    background-color: var(--color-card-background);
    display: flex;
    flex-direction: row;
    width: 100%;
}

.root form {
    margin: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    align-items: flex-end;
}

.root label {
    margin: 5px 5px 5px 5px;
    font-size: 20px;
}

.button {
    display: flex;
    justify-content: center;
}

.root img.screenshot {
    display: none;
}
/* @media screen and (min-width: 500px) {
    .root img.screenshot {
        display: block;
        width: 100%;
        height: 100%;
    }
} */
