:root {
    --bs-body-bg: transparent;
}

span {
    display: inline-block;
    background-color: var(--color-card-background);
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    border-color: var(--color-border);
    border-width: 10px;
    border-radius: 20px;
    border-style: solid;

}

form {
    margin: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    align-items: flex-end;
}

label {
    margin: 5px 5px 5px 5px;
    font-size: 20px;
}