@import "./color.css";
div {
    display: flex;
    justify-content: space-around;
}

body {
    background-color: var(--color-background);
    color: var(--main-text);
}

button {
    background-color: var(--color-main-normal-button);
    color: var(--main-text);
    border: 1px solid var(--color-border);
}

button:hover {
    background-color: var(--color-main-hover-button);
}

a {
    color: var(--color-link);
}

input {
    border: 1px solid var(--color-border);
    background-color: var(--color-background);
    color: var(--main-text);
}

textarea {
    border: 1px solid var(--color-border);
}
