@import "style/color.css";

/*おまじない*/
html {
    height: 100%;
}

body {
    height: 100%;
    background-color: var(--color-primary-background);
}

.root div {
    width: 90%;
    max-width: 1200px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 16px;
}

@media (max-width: 768px) {
    .root {
        min-height: 90vh;
        padding: 8px;
    }
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

body {
    color: var(--main-text);
}

button {
    background-color: var(--color-main-normal-button);
    color: var(--main-text);
    border: 1px solid var(--color-border);
}

button:hover {
    background-color: var(--color-main-hover-button);
}

a {
    color: var(--color-link);
}

input {
    border: 1px solid var(--color-border);
    background-color: var(--color-primary-background);
    color: var(--main-text);
}

textarea {
    border: 1px solid var(--color-border);
}
