:root {
    /*共通*/

    /*フォント*/
    --font-family: "Noto Sans JP", sans-serif;
    /*フォントサイズ*/
    --font-size: 16px;
    /*デフォルトフォント*/
    font-family: var(--font-family);
    font-size: var(--font-size);

    /* ライトモード */
    /* 優先カラー */
    --light-color-primary: #e3b505;
    /* 二次カラー */
    --light-color-secondary: #0096c7;
    /* アクセントカラー */
    --light-color-accent: #00b4d8;
    /* 背景カラー */
    --light-color-primary-background: #f0f0f3;
    /* 背景カラー */
    --light-color-secondary-background: #ffffff;
    /* ボーダーカラー */
    --light-color-border: #cbd5e1;
    /* ノーマルボタンカラー */
    --light-color-main-normal-button: #e3b505;
    /* ホバー時のボタンカラー */
    --light-color-main-hover-button: #c98a00;
    /* リンクカラー */
    --light-color-link: #0077b6;
    /* カード背景カラー */
    --light-color-card-background: #ffffff;
    /* テキストカラー */
    --light-main-text: #1c1f33;
    /* 警告色 */
    --light-warning-text: #9be7a7;
    /* サブテキストカラー */
    --light-sub-text: #4b5563;

    /* ダークモード */
    /* 優先カラー */
    --dark-color-primary: #c69700;
    /* 二次カラー */
    --dark-color-secondary: #023e8a;
    /* アクセントカラー */
    --dark-color-accent: #0077b6;
    /* 背景カラー */
    --dark-color-primary-background: #0a192f;
    /* 背景カラー */
    --dark-color-secondary-background: #112240;
    /* ボーダーカラー */
    --dark-color-border: #1b355f;
    /* ノーマルボタンカラー */
    --dark-color-main-normal-button: #a87900;
    /* ホバー時のボタンカラー */
    --dark-color-main-hover-button: #c698005d;
    /* リンクカラー */
    --dark-color-link: #00b4d8;
    /* カード背景カラー */
    --dark-color-card-background: #1c2d48;
    /* テキストカラー */
    --dark-main-text: #e0e7ff;
    /* 警告色 */
    --dark-warning-text: #9be7a7;
    /* サブテキストカラー */
    --dark-sub-text: #94a3b8;

    /*デフォルト設定*/
    --color-primary: var(--light-color-primary);
    --color-secondary: var(--light-color-secondary);
    --color-accent: var(--light-color-accent);
    --color-primary-background: var(--light-color-primary-background);
    --color-secondary-background: var(--light-color-secondary-background);
    --color-border: var(--light-color-border);
    --color-main-normal-button: var(--light-color-main-normal-button);
    --color-main-hover-button: var(--light-color-main-hover-button);
    --color-link: var(--light-color-link);
    --color-card-background: var(--light-color-card-background);
    --main-text: var(--light-main-text);
    --warning-text: var(--light-warning-text);
    --sub-text: var(--light-sub-text);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: var(--dark-color-primary);
        --color-secondary: var(--dark-color-secondary);
        --color-accent: var(--dark-color-accent);
        --color-primary-background: var(--dark-color-primary-background);
        --color-secondary-background: var(--dark-color-secondary-background);
        --color-border: var(--dark-color-border);
        --color-main-normal-button: var(--dark-color-main-normal-button);
        --color-main-hover-button: var(--dark-color-main-hover-button);
        --color-link: var(--dark-color-link);
        --color-card-background: var(--dark-color-card-background);
        --main-text: var(--dark-main-text);
        --warning-text: var(--dark-warning-text);
        --sub-text: var(--dark-sub-text);
    }
}

:root[theme="dark"] {
    --color-primary: var(--dark-color-primary);
    --color-secondary: var(--dark-color-secondary);
    --color-accent: var(--dark-color-accent);
    --color-primary-background: var(--dark-color-primary-background);
    --color-secondary-background: var(--dark-color-secondary-background);
    --color-border: var(--dark-color-border);
    --color-main-normal-button: var(--dark-color-main-normal-button);
    --color-main-hover-button: var(--dark-color-main-hover-button);
    --color-link: var(--dark-color-link);
    --color-card-background: var(--dark-color-card-background);
    --main-text: var(--dark-main-text);
    --warning-text: var(--dark-warning-text);
    --sub-text: var(--dark-sub-text);
}

:root[theme="light"] {
    --color-primary: var(--light-color-primary);
    --color-secondary: var(--light-color-secondary);
    --color-accent: var(--light-color-accent);
    --color-primary-background: var(--light-color-primary-background);
    --color-secondary-background: var(--light-color-secondary-background);
    --color-border: var(--light-color-border);
    --color-main-normal-button: var(--light-color-main-normal-button);
    --color-main-hover-button: var(--light-color-main-hover-button);
    --color-link: var(--light-color-link);
    --color-card-background: var(--light-color-card-background);
    --main-text: var(--light-main-text);
    --warning-text: var(--light-warning-text);
    --sub-text: var(--light-sub-text);
}
