services:
    litter-front:
        container_name: litter-front
        networks:
            - litter-network
        build:
            context: ./front
            dockerfile: Dockerfile
        restart: unless-stopped
        ports:
            - "80:80"
        working_dir: /LitTimeline
        command: ["nginx", "-g", "daemon off;"]
        volumes:
            - ../common:/LitTimeline/common
    littimeline:
        container_name: litter
        networks:
            - litter-network
        build:
            context: ./app
            dockerfile: Dockerfile
        restart: unless-stopped
        tty: true
        ports:
            - "3000:3000"
            - "5173:5173"
        command: [ "/bin/bash" ]
        working_dir: /LitTimeline
        volumes:
            - ../common:/LitTimeline/common
    littimeline-db:
        container_name: litter-db
        build:
            context: ./db
            dockerfile: Dockerfile
        image: mysql:8.2
        restart: unless-stopped
        tty: true
        expose:
            - "3306"
        ports:
            - "3306:3306"
        environment:
            MYSQL_DATABASE: litter
            MYSQL_ROOT_PASSWORD: password
        working_dir: /LitTimeline
        networks:
            - litter-network
networks:
    litter-network:
        driver: bridge

